* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.container {
    width: 375px;
    height: 450px;
    background-color: white;
    box-shadow: 5px 3px 20px -3px #999999;
}

.content-container {
    padding: 30px 40px;
    box-sizing: border-box;
}

.content-container > img {
    margin-bottom: 40px;
}

.content-container > p {
    margin: 15px 0;
}

.logo {
    width: 35%;
    margin: auto;
    display: block;
}

input[type = "email"], input[type = "password"], input[type = "submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

input[type = "email"], input[type = "password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.check-ctr {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.check-ctr > input {
    margin-right: 10px;
    transform: scale(0.85);
}

input[type = "submit"] {
    padding: 10px 0;
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
}

.forgot-pw {
    margin-top: 20px;
    text-align: center;
}

.forgot-pw > a {
    text-decoration: none;
    color: gray;
}

@media screen and (min-width: 900px) {
    .container {
        width: 750px;
        display: flex;
    }

    .content-container {
        width: 50%;
    }

    .image-container {
        width: 50%;
        height: 100%;
        background: bottom / 100% url('https://kajabi-app-assets.kajabi-cdn.com/assets/sage_next_login_admin_logo-08e1d3bcd6cbc905abdb5673cbfccfa3c2ecba836ba9eb76bf6a722a963af6ae.png');
    }
  }